* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-size: 100%;
    width: 100%;
    height: 100vh;
    background-color: #7738c7;
}

header {
    width: 100%;
    padding: 13px 0px;
    background-color: #f9f6fe;
}

header .container {
    display: flex;
    justify-content: space-around;
    gap: 5vw;
    align-items: center;
}

header .container img {
    width: 7vw;
}

header .container ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

header .container a {
    font-family: 'General Sans', sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: #4f287b;
}

header .container a:hover {
    text-decoration: underline;
}

header .container #button-header {
    color: #f9f6fe;
    padding: 15px;
    background-color: #4f287b;
    box-sizing: border-box;
    border-radius: 20px;
}

header .container #button-header:hover {
    background-color: #33115a;
}

.register {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 10vw;
    margin: 4vw;
    flex-wrap: wrap;
}

.register .left {
    width: 35%;
}

.register .left article {
    text-align: center;
    width: 100%;
    color: #f9f6fe;
    font-family: 'Clash Grotesk', sans-serif;
}

.register .left article h1 {
    font-size: 28px;
}

.register .right {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.register .right .box {
    width: 120%;
    background-color: #f9f6fe;
    padding: 70px 50px;
    border-radius: 50px;
    box-shadow: 1px 4px 7px #0808085d;
}

.register .right .box form {
    display: flex;
    font-family: 'Clash Grotesk', sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.box form label {
    font-size: 26px;
    color: #230a3f;
    width: 100%;
    font-weight: 500;
    text-align: start;
}

.box form input {
    width: 100%;
    padding: 2px 0px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #0000003d;
    background-color: #f9f6fe;
}

.box form input:focus {
    outline-color: #17052c79;
}

.box form #register-button {
    padding: 20px;
    width: 60%;
    border-style: none;
    background-color: #4f287b;
    color: #f9f6fe;
    font-size: 17px;
    border-radius: 20px;
}

.box form #register-button:hover {
    text-decoration: underline;
    background-color: #33115a;
    cursor: pointer;
}

.box form ::placeholder {
    color: #0000009c
}

.aboutUs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    background-color: #f9f6fe;
    padding: 4vw;
    flex-wrap: wrap;
}

.aboutUs .left {
    width: 35%;
}

.aboutUs .textfield {
    text-align: center;
    color: #33115a;
    font-family: 'Clash Grotesk', sans-serif;
}

.aboutUs .textfield h1::before,
.aboutUs .textfield h1::after {
    content: "💻";
    display: inline;
}

.aboutUs .right {
    width: 35%;
}

.helpButton {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.helpButton a {
    font-size: 30px;
    color: #f9f6fe;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 900;
    padding: 13px 23px;
    border-radius: 50px;
    background-color: #230a3f;
    border-style: none;
}

.helpButton a:hover {
    cursor: pointer;
    background-color: #33115a;
}

footer {
    background: linear-gradient(to top, #011839, #061730);
    width: 100%;
    padding: 4px;
    font-family: 'General Sans', sans-serif;
}

footer .copyright {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    margin: 5px;
    color: #f9f6fe;
}

footer .copyright h3 {
    font-size: 13px;
}

footer img {
    width: 4vw;
    margin: 4px 0px;
}

footer .list ul {
    display: flex;
    flex-wrap: wrap;
    gap: 7vw;
    padding: 20px;
    border-top: solid #f9f6fe60 1px;
    justify-content: center;
}

footer .list a {
    color: #f9f6fe;
}

footer .list a:hover {
    color: #c7c2d1;
    text-decoration: underline;
}